.c-input, .input-group, .input-group-btn, .input-group-btn>.btn{
position:static;
}
.mbr-subscribe .input-group-btn::after{
position:relative;
}

.row-main{

    display: flex;
    align-items: center;
}

.feats{
  text-align: left;
}
.mbr-subscribe.mbr-subscribe-dark.input-group{
background:#fff;
color:#000;
}
